@import "~bootstrap/scss/bootstrap";

.container {
  background-color: var(--white);

  .menu-header {
    height: 40px;
    padding: 10px;
    text-align: right;
    color: var(--primary-color);
    font-size: 2rem;
  }

  .menu-content {
    .menu-item {
      height: 48px;
      color: var(--text-black-color);
      padding: 0 30px;
      font-size: 2rem;
      cursor: pointer;
      transition: all 0.3s;
      font-weight: bold;

      &:hover {
        background-color: var(--primary-color);
      }

      .item-text {
        line-height: 20px;
        margin-left: 12px;
      }
    }
  }
}
