@import "~bootstrap/scss/bootstrap";

.container {
  background-color: var(--white);
  height: 100%;

  .menu-header {
    height: 40px;
    padding: 10px;
    text-align: right;
    color: var(--primary-color);
    font-size: 2rem;
  }

  .menu-content {
    .menu-item {
      margin: 6px 0;
      height: 48px;
      padding: 0 30px;
      font-size: 1.6rem;
      cursor: pointer;
      transition: all 0.3s;
      font-weight: 500;
      line-height: 48px;

      &:hover {
        font-weight: 600;
        font-size: 1.8rem;
        background-color: var(--primary-color);
        border-radius: 12px;

        .item-text {
          color: var(--text-black-color);
        }
      }

      &.active {
        font-weight: 600;
        font-size: 1.8rem;
        background-color: var(--primary-color);
        border-radius: 12px;
        .item-text {
          color: var(--text-black-color);
        }
      }

      .item-text {
        margin-left: 12px;
        color: var(--text-color);
      }
    }
  }
}
