@import "~bootstrap/scss/bootstrap";

.container {
  background-color: var(--white);

  .menu-header {
    height: 40px;
    padding: 10px;
    text-align: right;
    color: var(--primary-color);
    font-size: 2rem;
  }

  .menu-content {
    height: 48px;
    color: var(--text-black-color);
  }
}
