@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-color: rgb(250, 214, 30);
  --primary-color-background: rgb(250, 214, 30, 0.1);
  --primary-color-hover: rgb(250, 214, 30, 0.5);
  --primary-background-color: #f8f9fa;
  --price-color: #ff0000;
  --rating-star: #ffd700;
  --text-black-color: #212529;
  --text-color: #6c757d;
  --text-title-color: #495057;
  --text-hover-color: #343a40;
  --border-color: #ced4da;
  --white: #fff;
  --error-message-color: rgb(214, 51, 1);
  --error-background-color: rgb(214, 51, 1, 0.16);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
