@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-color: #fad61e;
  --primary-color-background: rgba(250, 214, 30, 0.1);
  --primary-color-hover: rgba(250, 214, 30, 0.5);
  --primary-box-shadow: 0 0 0 0.25rem rgba(250, 214, 30, 0.25);
  --primary-background-color: #f8f9fa;
  --price-color: #ff0000;
  --rating-star: #ffd700;
  --text-black-color: #212529;
  --text-color: #6c757d;
  --text-title-color: #495057;
  --text-hover-color: #343a40;
  --border-color: #ced4da;
  --white: #fff;
  --error-message-color: rgba(214, 51, 1);
  --error-background-color: rgba(214, 51, 1, 0.16);
  --edit-button-color: #ff7f0e;
  --add-button-color: #4caf50;
  --second-border: 1px solid var(--border-color);
  --primary-border: 1px solid var(--primary-color);
  --revenue-color: rgba(60, 216, 86);
  --profit-color: rgba(191, 131, 255);
  --sold-color: rgba(255, 148, 122);
  --product-color: #fa5a7d;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

body::-webkit-scrollbar {
  display: none;
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
  &:focus {
    outline: none;
  }
}

a[href] {
  text-decoration: none;
  color: var(--text-black-color);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
