@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-color: rgb(250, 214, 30);
  --primary-color-hover: rgb(250, 214, 30, 0.9);
  --text-color: #6c757d;
  --text-hover-color: #343a40;
  --border-color: #ced4da;
  --white: #fff;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
