@import "~bootstrap/scss/bootstrap";

@keyframes ani {
  0% {
    top: -500px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: -30px;
  }
  100% {
    top: 0px;
  }
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes buttonLow {
  0% {
    background-color: #7f8c8d;
  }
  0% {
    background-color: red;
  }
  0% {
    background-color: #7f8c8d;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid green;
}

.main-ball {
  position: relative;
  height: 400px;
  width: 400px;
  background-color: #fff;
  border: 25px solid #000;
  border-radius: 50%;
  overflow: hidden;
  animation: ani 0.25s ease-in-out, spin3s ease-in-out 3;
}

.main-ball::before,
::after {
  content: "";
  position: absolute;
}

.main-ball::before {
  background-color: red;
  width: 100%;
  height: 50%;
}

.main-ball::after {
  top: calc(50% - 15px);
  width: 100%;
  height: 25px;
  background-color: #000;
}

.poke-button {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  background-color: #7f8c8d;
  border: 20px solid #fff;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 0 20px #000;
  animation: buttonLow 3s ease-in-out 3;
}
