@import "~bootstrap/scss/bootstrap";

@mixin flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-center {
  text-align: center;
  vertical-align: middle;
}

@mixin flex-align {
  display: flex;
  align-items: center;
}

.container {
  padding: 20px 30px;
  .header {
    @include flex-space;
    height: 70px;
    border: var(--primary-border);
    background-color: var(--white);
    margin-bottom: 20px;

    .header-title,
    .header-icon {
      margin-left: 12px;
      font-size: 2rem;
      font-weight: bold;
      line-height: 70px;
      color: var(--primary-color);
    }
    .header-right {
      @include flex-end;
      .header-search {
        @include flex-center;
        width: 520px;
        height: 46px;
        margin-right: 20px;
        border-radius: 4px;
        border: var(--second-border);
        transition: border-color 0.3s, all 0.3s ease;

        &:focus-within,
        &:hover {
          border-color: var(--primary-color);

          .btn-search {
            background-color: var(--primary-color-hover);
            border-color: var(--primary-color-hover);
          }

          .search-input {
            color: var(--text-hover-color);
          }
        }

        .search-input {
          width: 88%;
          padding: 10px 16px;
          font-size: 1.4rem;
          color: var(--text-color);
          border-color: transparent;
          border-radius: 4px;

          &:focus {
            border-color: transparent;
          }
        }

        .btn-search {
          width: 12%;
          height: 38px;
          font-size: 1.6rem;
          margin-right: 4px;
          border-radius: 4px;
          color: var(--white);
          background-color: var(--primary-color);

          &:hover {
            background-color: var(--primary-color-hover);
            border-color: var(--primary-color-hover);
          }
        }

        .clear-search {
          margin-right: 8px;
          color: var(--text-color);
          font-size: 2rem;
        }
      }
      .header-add {
        .btn-add {
          height: 46px;
          width: 46px;
          font-size: 2rem;
          background-color: var(--add-button-color);
          color: var(--white);
          border-radius: 4px;
          transition: background-color 0.3s, border-color 0.3s;
          &:hover {
            background-color: var(--white);
            color: var(--add-button-color);
            border: 2px solid var(--add-button-color);
          }
        }
      }
    }
  }

  .content {
    padding: 0;

    .header-row {
      height: 40px;

      .header-row,
      .product-row {
        text-align: center;
      }

      .header-checkbox {
        width: 16px;
        height: 16px;
        cursor: pointer;
      }

      .header-col {
        height: 40px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 16px;
        @include text-center;
      }

      .header-col:nth-child(4),
      .header-col:nth-child(3) {
        padding: 0 12px;
        width: 100px;
      }

      .header-col:nth-child(4) {
        text-align: left;
        width: 172px;
      }
    }

    .product-col {
      height: 100px;
      @include text-center;
    }

    .product-checkbox {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }

    .product-col:nth-child(4) {
      padding: 5px 12px;
    }

    .product-col:nth-child(6) {
      @include flex-center;
    }

    .product-col:nth-child(7) {
      font-weight: 600;
      font-size: 2rem;
      color: var(--price-color);
    }

    .product-col:nth-child(10),
    .product-col:nth-child(11) {
      font-weight: 600;
      font-size: 2rem;
      cursor: pointer;
    }
    .product-col:nth-child(10) {
      font-weight: 600;
      font-size: 2rem;
      color: var(--edit-button-color);
    }
    .product-col:nth-child(11) {
      font-weight: 600;
      font-size: 2rem;
      color: var(--price-color);
    }

    .product-img {
      height: 80px;
      width: 80px;
      vertical-align: middle;
    }

    .product-name {
      margin-left: 8px;
    }

    .size {
      width: 60px;
      .size-select {
        width: 60px;
        font-size: 1.4rem;
        background-color: var(--white);
        color: var(--text-black-color);
        border: var(--second-border);

        &:hover {
          background-color: var(--primary-color-background);
          border: var(--primary-border);
          outline: none;
        }

        &:focus {
          background-color: var(--primary-color);
          border: var(--primary-border);
        }
      }
    }

    .header-checkbox,
    .product-checkbox {
      position: relative;
      appearance: none;
      border: 2px solid var(--primary-color);

      &:checked {
        background-color: var(--primary-color);
        border-color: var(--primary-color);

        &::before {
          position: absolute;
          content: "\2713";
          font-weight: 900;
          font-size: 14px;
          color: var(--white);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
