@import "~bootstrap/scss/bootstrap";

@mixin flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container {
  padding: 20px 30px;
  .header {
    @include flex-space;
    height: 60px;
    border: var(--primary-border);
    background-color: var(--white);

    .header-title,
    .header-icon {
      margin-left: 12px;
      font-size: 2rem;
      font-weight: bold;
      line-height: 60px;
      color: var(--primary-color);
    }
    .header-right {
      @include flex-end;
      .header-search {
        width: 520px;
        height: 32px;
        border: var(--second-border);
        transition: border-color 0.3s, all 0.3s ease;

        &:focus-within,
        &:hover {
          border-color: var(--primary-color);

          .btn-search {
            background-color: var(--primary-color-hover);
            border-color: var(--primary-color-hover);
          }

          .search-input {
            color: var(--text-hover-color);
          }
        }
      }
      .header-add {
        .btn-add {
          background-color: var(--add-button-color);
          color: var(--white);
          height: 32px;
          width: 32px;
          border-radius: 4px;
        }
      }
    }
  }
}
