@import "~bootstrap/scss/bootstrap";

.payment-header {
  height: 60px;
  border: var(--primary-border);
}

.header-title,
.payment-icon {
  margin-left: 12px;
  font-size: 2rem;
  font-weight: bold;
  line-height: 60px;
  color: var(--primary-color);
}

.payment-header {
  background-color: var(--white);
  margin-bottom: 20px;
}
