@import "~bootstrap/scss/bootstrap";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  background-color: var(--white);
  height: 100%;
  border-right: var(--second-border);

  .header {
    @include flex-center;
    height: 70px;
    border-bottom: var(--second-border);
  }

  .content {
    .
  }
}
