@import "~bootstrap/scss/bootstrap";

.header-row {
  height: 40px;

  .header-row,
  .item-row {
    text-align: center;
  }

  .header-checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  .header-col {
    height: 40px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 16px;
    @include text-center;
  }
}
