@import "~bootstrap/scss/bootstrap";

@mixin flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-center {
  text-align: center;
  vertical-align: middle;
}

@mixin flex-align {
  display: flex;
  align-items: center;
}

.container {
  padding: 20px 30px;

  .add {
    @include flex-end;
    margin-bottom: 20px;
    .btn-add {
      @include flex-center;
      height: 32px;
      width: 120px;
      font-size: 1.4rem;
      background-color: var(--add-button-color);
      color: var(--white);
      border-radius: 4px;
      transition: background-color 0.3s, border-color 0.3s;
      &:hover {
        background-color: var(--white);
        color: var(--add-button-color);
        border: 2px solid var(--add-button-color);
      }
    }
  }
  .content {
    padding: 0;
  }
}
