@import "~bootstrap/scss/bootstrap";

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 120px;
  background-color: var(--white);
  padding: 0;
  z-index: 1000;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  .header-top {
    height: 70px;
    padding: 0;
    background-color: var(--white);

    .header-logo {
      padding: 14px 0;
    }

    .header-search {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 640px;
      height: 46px;
      margin-top: 12px;
      border-radius: 46px;
      border: 1px solid var(--border-color);
      transition: border-color 0.3s, all 0.3s ease;

      &:focus-within,
      &:hover {
        border-color: var(--primary-color);

        .btn-search {
          background-color: var(--primary-color-hover);
          border-color: var(--primary-color-hover);
        }

        .search-input {
          color: var(--text-hover-color);
        }
      }

      .search-input {
        width: 88%;
        padding: 10px 16px;
        font-size: 1.4rem;
        color: var(--text-color);
        border-radius: 46px;
        border-color: transparent;
        outline: none;

        &:focus {
          border-color: transparent;
        }
      }

      .btn-search {
        width: 12%;
        height: 38px;
        font-size: 1.6rem;
        margin-right: 4px;
        color: var(--white);
        background-color: var(--primary-color);
        border-radius: 38px;
        border: none;

        &:hover {
          background-color: var(--primary-color-hover);
          border-color: var(--primary-color-hover);
        }
      }
    }

    .authentication {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 46px;
      margin-top: 12px;

      .btn-signup,
      .btn-login {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 36px;
        font-size: 1.6rem;
        font-weight: 600;
        border-radius: 46px;
        border: 2px solid var(--primary-color);
        transition: color 0.3s, border-color 0.3s;
      }

      .btn-signup {
        margin-right: 16px;
        color: var(--primary-color);
        background-color: var(--white);

        &:hover {
          color: var(--text-hover-color);
          border-color: var(--primary-color);
          background-color: var(--primary-color-hover);
        }
      }

      .btn-login {
        color: var(--white);
        background-color: var(--primary-color);

        &:hover {
          background-color: var(--white);
          color: var(--primary-color);
          border-color: var(--primary-color);
        }
      }
    }

    .user-options {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 46px;
      margin-top: 12px;

      .options-item {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 80px;
        height: 36px;
        font-size: 2.5rem;
        color: var(--primary-color);
        transition: color 0.3s, border-color 0.3s;

        &:hover {
          color: var(--primary-color-hover);
        }
        .avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
    }
  }

  .header-bottom {
    height: 50px;
    width: 100%;
    padding: 0;
    border-top: 1px solid var(--primary-color);

    .navbar-header {
      background-color: var(--white);

      padding: 0;
      .nav-link {
        height: 50px;
        width: 120px;
        font-size: 1.6rem;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--white);
        color: var(--text-color);
        transition: background-color 0.3s, color 0.3s;
        &:hover {
          background-color: var(--primary-color);
          color: var(--white);
        }
      }
    }
  }
}

header.scrolled {
  height: 70px;
  background-color: var(--white);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.header-container.scrolled {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.header-container.scrolled .header-search {
  width: 46px;
  margin-left: 606px;
  .search-input {
    width: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: width 0.5s ease, opacity 0.3s ease;
  }
  .btn-search {
    width: 80%;
    height: 80%;
    margin-right: 2px;
    padding: 0;
  }

  &:hover {
    margin-left: 0;
    width: 640px;
  }
}

.header-container.scrolled .header-bottom {
  top: 10px;
  left: 390px;
  position: fixed;
  width: 640px;
  border: none;
  transition: width 0.8s ease, opacity 0.8s ease;
}

.header-container.scrolled .navbar-header {
  justify-content: center;
}

.header-container.scrolled .navbar-header .nav-link {
  width: auto;
  margin: 0 8px;
}
.under-header {
  height: 120px;
}

.logout-button {
  width: 120px;
  height: 32px;
  padding: 4px 10px;
  font-size: 1.6rem;
  color: var(--text-black-color);
  background-color: var(--white);
  border: none;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:hover {
    background-color: var(--primary-color-hover);
  }
}

.clear-search {
  margin-right: 8px;
  color: var(--text-color);
  font-size: 2rem;
}

.search-results {
  width: 640px;
  min-height: 64px;
  max-height: 424px;
  background-color: var(--white);
  padding: 12px 0;
  border-radius: 8px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid var(--primary-color);
  overflow-x: hidden;
  overflow-y: auto;

  .search-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    .search-item {
      &:hover {
        background-color: var(--primary-color-hover);
      }

      .search-link {
        width: 100%;
        height: 40px;
        padding: 0 20px;
        font-size: 1.6rem;
        color: var(--text-black-color);

        .search-img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin: 0 12px;
        }
      }
    }
  }
}
