@import "~bootstrap/scss/bootstrap";

.header-container {
  height: 120px;
  background-color: var(--white);

  .header-top {
    height: 70px;
    background-color: var(--white);

    .header-logo {
      padding: 14px 0;
    }

    .header-search {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 640px;
      height: 46px;
      margin-top: 12px;
      border-radius: 46px;
      border: 1px solid var(--border-color);
      transition: border-color 0.3s;
      &:focus-within {
        border-color: var(--primary-color);
      }
      &:hover {
        border-color: var(--primary-color);
      }

      .search-input {
        font-size: 1.4rem;
        width: 88%;
        padding: 10px 16px;
        border-radius: 46px;
        border-color: transparent;
        outline: none;

        &:focus {
          border-color: transparent;
          color: var(--primary-color);
        }
      }

      .btn-search {
        width: 12%;
        margin-right: 4px;
        height: 38px;
        color: var(--white);
        border-radius: 38px;
        border: none;
        background-color: var(--primary-color);
        border-color: var(--primary-color);
        &:hover {
          background-color: var(--primary-color-hover);
          border-color: var(--primary-color-hover);
        }
      }
    }
  }
}
