@import "~bootstrap/scss/bootstrap";

.header-container {
  height: 120px;
  background-color: var(--white);
}

.header-top {
  height: 70px;
  background-color: var(--white);
}

.header-logo {
  padding: 14px 0;
}

.header-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 46px;
  margin-top: 12px;
  border-radius: 46px;
  border: 1px solid var(--primary-color);
}

.search-input {
  font-size: 1.4rem;
  width: 85%;
  padding: 10px 16px;
  border-radius: 46px;
  border-color: transparent;
}

.btn-search {
  width: 15%;
  height: 38px;
  border-radius: 38px;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
