@import "~bootstrap/scss/bootstrap";

.header-container {
  height: 120px;
  background-color: var(--white);
}

.header-top {
  height: 70px;
  background-color: var(--white);
}

.header-logo {
  padding: 14px 0;
}
