@import "~bootstrap/scss/bootstrap";

@mixin flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-center {
  text-align: center;
  vertical-align: middle;
}

@mixin flex-align {
  display: flex;
  align-items: center;
}

.container {
  padding: 20px 30px;

  .header {
    height: 70px;
    border: var(--primary-border);
    background-color: var(--white);
    margin-bottom: 20px;

    .header-title,
    .header-icon {
      margin-left: 12px;
      font-size: 2rem;
      font-weight: bold;
      line-height: 70px;
      color: var(--primary-color);
    }
  }

  .content {
    padding: 0;

    .statistic {
      @include flex-space;
      padding: 0;

      .statistic-products,
      .statistic-sold,
      .statistic-profit,
      .statistic-revenue {
        @include flex-space;
        width: 280px;
        height: 100px;
        padding: 16px;
        border-radius: 12px;

        .statistic-content {
          height: 68px;

          .statistic-title {
            font-size: 1.6rem;
            font-weight: bold;
            color: var(--text-title-color);
          }

          .statistic-value {
            height: 40px;
            line-height: 40px;
            font-size: 2.4rem;
            font-weight: 600;
            color: var(--text-black-color);
          }
        }

        .icon-product,
        .icon-sold,
        .icon-profit,
        .icon-revenue {
          @include flex-center;
          width: 68px;
          height: 68px;
          font-size: 2.4rem;
          background-color: var(--primary-color-background);
          border-radius: 50%;
          color: var(--white);
        }

        .icon-product {
          background-color: var(--product-color);
        }

        .icon-sold {
          background-color: var(--sold-color);
        }

        .icon-revenue {
          background-color: var(--revenue-color);
        }

        .icon-profit {
          background-color: var(--profit-color);
        }
      }

      .statistic-products {
        border: 1px solid #fa5a7d;
        background-color: #ffe2e5;
      }

      .statistic-sold {
        border: 1px solid var(--sold-color);
        background-color: rgb(255, 244, 222);
      }

      .statistic-revenue {
        border: 1px solid var(--revenue-color);
        background-color: rgb(220, 252, 231);
      }

      .statistic-profit {
        border: 1px solid var(--profit-color);
        background-color: rgb(243, 232, 255);
      }
    }

    .chart {
      margin-top: 20px;
      padding: 24px 20px;
      border-radius: 12px;
      background-color: var(--white);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

      .chart-header {
        @include flex-space;
        font-size: 2rem;
        height: 40px;

        .header-icon {
          font-size: 2.8rem;
          color: var(--product-color);
        }

        .header-title {
          margin-left: 12px;
          color: var(--text-black-color);
          font-weight: bold;
          line-height: 40px;
        }

        .chart-filter {
          margin-right: 20px;
          text-align: right;

          .filter-container {
            @include flex-space;
            height: 40px;
            width: 240px;
            border-radius: 999px;
            background-color: var(--);
          }

          .filter-item {
            height: 28px;
            width: 116px;
            font-weight: 500;
            font-size: 1.6rem;
            color: var(--white);
            border-radius: 999px;
            background-color: var(--profit-color);
          }

          .filter-select {
            margin-left: 12px;
            width: 200px;
            height: 40px;
            border: 1px solid var(--border-color);
            border-radius: 8px;
            padding: 0 12px;
            font-size: 1.6rem;
            color: var(--text-black-color);
          }
        }
      }
    }
  }
}
