@import "~bootstrap/scss/bootstrap";

@mixin flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-center {
  text-align: center;
  vertical-align: middle;
}

@mixin flex-align {
  display: flex;
  align-items: center;
}

.container {
  padding: 20px 30px;

  .header {
    height: 70px;
    border: var(--primary-border);
    background-color: var(--white);
    margin-bottom: 20px;

    .header-title,
    .header-icon {
      margin-left: 12px;
      font-size: 2rem;
      font-weight: bold;
      line-height: 70px;
      color: var(--primary-color);
    }
  }

  .content {
    padding: 0;

    .statistic {
      @include flex-space;
      padding: 0;

      .statistic-products,
      .statistic-sold,
      .statistic-profit,
      .statistic-revenue {
        @include flex-space;
        width: 280px;
        height: 100px;
        padding: 16px;
        background-color: var(--white);
        border: var(--primary-border);
        border-radius: 12px;

        .statistic-products {
          background-color: #ffe2e5;
        }

        .statistic-sold {
          background-color: #fff4de;
        }

        .statistic-revenue {
          background-color: #dcfce7;
        }

        .statistic-profit {
          background-color: #f3e8ff;
        }

        .statistic-content {
          height: 68px;

          .statistic-title {
            font-size: 1.6rem;
            font-weight: bold;
            color: var(--text-title-color);
          }

          .statistic-value {
            height: 40px;
            line-height: 40px;
            font-size: 2.4rem;
            font-weight: bold;
            color: var(--text-black-color);
          }
        }

        .icon-product,
        .icon-sold,
        .icon-profit,
        .icon-revenue {
          @include flex-center;
          width: 68px;
          height: 68px;
          background-color: var(--primary-color-background);
          border-radius: 50%;
          border: var(--primary-border);
          color: var(--white);
        }

        .icon-product {
          background-color: #fa5a7d;
        }

        .icon-sold {
          background-color: #ff947a;
        }

        .icon-revenue {
          background-color: #3cd856;
        }

        .icon-profit {
          background-color: #b37feb;
        }
      }
    }
  }
}
