@import "~bootstrap/scss/bootstrap";

@mixin flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-center {
  text-align: center;
  vertical-align: middle;
}

@mixin flex-align {
  display: flex;
  align-items: center;
}

.container {
  padding: 20px 30px;

  .header {
    height: 70px;
    border: var(--primary-border);
    background-color: var(--white);
    margin-bottom: 20px;

    .header-title,
    .header-icon {
      margin-left: 12px;
      font-size: 2rem;
      font-weight: bold;
      line-height: 70px;
      color: var(--primary-color);
    }
  }

  .content {
    padding: 0;

    .statistic {
      @include flex-space;
      padding: 0;

      .statistic-item {
        @include flex-space;
        width: 280px;
        padding: 16px;
        background-color: var(--white);
        border: var(--primary-border);
      }
    }
  }
}
