@import "~bootstrap/scss/bootstrap";

.menu-container {
  padding: 20px 15px;
  background-color: var(--white);

  .header-row {
    border-bottom: 1px solid var(--border-color);
    height: 62px;

    .menu-avatar {
      padding: 0 6.25px;
      margin-top: 4.55px;

      .avatar-img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid var(--primary-color);
      }
    }

    .menu-name {
      font-size: 1.6rem;
      font-weight: 700;
      margin: 0;
      padding: 0;
      line-height: 50px;
    }
  }

  .menu-body {
    padding: 16px 7.5px;

    .link-container {
      height: 40px;
      font-size: 1.6rem;
      cursor: pointer;

      &:hover {
        .menu-link {
          color: var(--primary-color);
        }
        border: 1px solid var(--primary-color);
      }

      .menu-link {
        width: 100%;
        text-decoration: none;
        color: var(--text-black-color);
        line-height: 40px;
        font-weight: 600;

        .link-icon {
          margin-right: 10px;
        }
      }
      .active-link {
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
      }
    }
  }
}
