@import "~bootstrap/scss/bootstrap";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.authentication {
  @include flex-end;
  height: 46px;
  margin-top: 12px;

  .btn-signup,
  .btn-login {
    @include flex-center;
    width: 100px;
    height: 36px;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 46px;
    border: 2px solid var(--primary-color);
    transition: color 0.3s, border-color 0.3s;
  }

  .btn-signup {
    margin-right: 16px;
    color: var(--primary-color);
    background-color: var(--white);

    &:hover {
      color: var(--text-hover-color);
      border-color: var(--primary-color);
      background-color: var(--primary-color-hover);
    }
  }

  .btn-login {
    color: var(--white);
    background-color: var(--primary-color);

    &:hover {
      background-color: var(--white);
      color: var(--primary-color);
      border-color: var(--primary-color);
    }
  }
}

.user-options {
  @include flex-end;
  height: 46px;
  margin-top: 12px;

  .options-item {
    @include flex-end;
    width: 80px;
    height: 36px;
    font-size: 2.5rem;
    color: var(--primary-color);
    transition: color 0.3s, border-color 0.3s;

    &:hover {
      color: var(--primary-color-hover);
    }
    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}
