@import "~bootstrap/scss/bootstrap";

.cart-header {
  height: 60px;
  border: 1px solid var(--primary-color);
}

.cart-content {
  padding: 0;
}

.header-title,
.cart-icon {
  margin-left: 12px;
  font-size: 2rem;
  line-height: 60px;
  color: var(--primary-color);
  font-weight: bold;
}

.cart-header {
  background-color: var(--white);
  margin-bottom: 20px;
}

.header-row {
  height: 40px;

  .header-row,
  .product-row {
    text-align: center;
  }

  .header-checkbox {
    width: 16px;
    height: 16px;
  }

  .header-col {
    height: 40px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 16px;
  }

  .header-col:nth-child(2) {
    text-align: left;
    padding: 0 12px;
  }
}

.product-col {
  height: 100px;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: middle;
}

.product-checkbox {
  width: 16px;
  height: 16px;
}

.product-col:nth-child(2) {
  text-align: left;
}

.product-col:nth-child(4),
.product-col:nth-child(6) {
  font-weight: 600;
  color: var(--price-color);
}

.product-col:nth-child(7) {
  font-size: 2rem;
  color: var(--price-color);
  cursor: pointer;
}

.product-img {
  height: 80px;
  width: 80px;
  vertical-align: middle;
}

.decrease,
.increase {
  width: 32px;
  height: 32px;
  font-size: 1.4rem;
  color: var(--text-black-color);
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 0;
}
.decrease {
  margin-left: 4px;
}

.quantity-input {
  width: 40px;
  height: 32px;
  padding: 0;
  font-size: 1.4rem;
  color: var(--text-black-color);
  background-color: var(--white);
  border: none;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-radius: 0;
  text-align: center;
  vertical-align: middle;

  &:focus {
    border: 1px solid var(--primary-color);
    outline: none;
  }
}
