@import "~bootstrap/scss/bootstrap";

@mixin text-center {
  text-align: center;
  vertical-align: middle;
}

@mixin flex-align {
  display: flex;
  align-items: center;
}

.cart-header {
  height: 60px;
  border: var(--primary-border);
}

.cart-content {
  padding: 0;
}

.header-title,
.cart-icon {
  margin-left: 12px;
  font-size: 2rem;
  font-weight: bold;
  line-height: 60px;
  color: var(--primary-color);
}

.cart-header {
  background-color: var(--white);
  margin-bottom: 20px;
}

.header-row {
  height: 40px;

  .header-row,
  .product-row {
    text-align: center;
  }

  .header-checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  .header-col {
    height: 40px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 16px;
    @include text-center;
  }

  .header-col:nth-child(2) {
    text-align: left;
    padding: 0 12px;
  }
}

.product-col {
  height: 100px;
  @include text-center;
}

.product-checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.product-col:nth-child(2) {
  text-align: left;
}

.product-col:nth-child(3) {
  justify-content: center;
  @include flex-align;
}

.product-col:nth-child(4),
.product-col:nth-child(6) {
  font-weight: 600;
  color: var(--price-color);
}

.product-col:nth-child(7) {
  font-size: 2rem;
  color: var(--price-color);
  cursor: pointer;
}

.product-img {
  height: 80px;
  width: 80px;
  vertical-align: middle;
}

.product-name {
  margin-left: 8px;
}

.decrease,
.increase {
  width: 32px;
  height: 32px;
  font-size: 1.4rem;
  color: var(--text-black-color);
  background-color: var(--white);
  border: var(--second-border);
  border-radius: 0;

  &:hover {
    background-color: var(--primary-color-background);
    border: var(--primary-border);
    color: var(--text-black-color);
    outline: none;
  }
}
.decrease {
  margin-left: 4px;
}

.quantity-input {
  width: 40px;
  height: 32px;
  padding: 0;
  font-size: 1.4rem;
  color: var(--text-black-color);
  background-color: var(--white);
  border-radius: 0;
  border-top: var(--second-border);
  border-bottom: var(--second-border);
  @include text-center;

  &:focus {
    border: var(--primary-border);
    outline: none;
  }
}

.cart-footer {
  justify-content: space-between;
  height: 64px;
  margin-top: 20px;
  padding: 0;
  border: var(--primary-border);
  background-color: var(--white);
  vertical-align: middle;
  @include flex-align;
}

.footer-checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.footer-left {
  justify-content: flex-start;
  padding: 0 18px;
  @include flex-align;

  .select-all {
    margin-left: 22px;
    font-size: 1.6rem;
    color: var(--text-title-color);
    font-weight: 500;
    line-height: 16px;
    @include text-center;
  }

  .delete-all {
    height: 40px;
    width: 120px;
    margin-left: 22px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 16px;
    color: var(--price-color);
    background-color: rgba(214, 51, 1, 0.2);
    border-radius: 0;
    border: 1px solid var(--price-color);
    cursor: pointer;
    @include text-center;

    &:hover {
      color: var(--error-message-color);
    }
  }
}

.footer-right {
  padding: 0 18px;
  text-align: right;

  .total-price {
    font-size: 1.6rem;
    color: var(--text-title-color);
    font-weight: 500;
    line-height: 16px;
    @include text-center;
  }

  .total-amount {
    width: 240px;
    margin: 0 22px;
    font-size: 2.4rem;
    color: var(--price-color);
    font-weight: 700;
    line-height: 20px;
    @include text-center;
  }

  .checkout {
    height: 40px;
    width: 120px;
    font-size: 1.6rem;
    color: var(--text-black-color);
    background-color: var(--primary-color);
    font-weight: 500;
    line-height: 16px;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    @include text-center;

    &:hover {
      background-color: var(--primary-color-hover);
      border: var(--primary-border);
    }
  }
}

.header-checkbox,
.product-checkbox,
.footer-checkbox {
  position: relative;
  appearance: none;
  border: 2px solid var(--primary-color);

  &:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);

    &::before {
      position: absolute;
      content: "\2713";
      font-weight: 900;
      font-size: 14px;
      color: var(--white);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.size {
  height: 40px;
  width: 100px;
}

.size-select {
  height: 40px;
  width: 100px;
  font-size: 1.4rem;
  background-color: var(--white);
  color: var(--text-black-color);
  border: var(--second-border);

  &:hover {
    background-color: var(--primary-color-background);
    border: var(--primary-border);
    outline: none;
  }

  &:focus {
    background-color: var(--primary-color);
    border: var(--primary-border);
  }
}
