@import "~bootstrap/scss/bootstrap";

.cart-header {
  height: 60px;
  border: 1px solid var(--primary-color);
}

.cart-content {
  padding: 0;
}

.header-title,
.cart-icon {
  margin-left: 12px;
  font-size: 2rem;
  line-height: 60px;
  color: var(--primary-color);
  font-weight: bold;
}

.cart-header {
  background-color: var(--white);
  margin-bottom: 20px;
}

.header-row {
  height: 40px;

  .header-checkbox {
    width: 16px;
    height: 16px;
  }
}

.decrease,
.increase {
  width: 32px;
  height: 32px;
  font-size: 1.4rem;
  color: var(--text-black-color);
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 0;
}
.decrease {
  margin-left: 4px;
}

.quantity-input {
  width: 40px;
  height: 32px;
  padding: 0;
  font-size: 1.4rem;
  color: var(--text-black-color);
  background-color: var(--white);
  border: none;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-radius: 0;
  text-align: center;
  vertical-align: middle;

  &:focus {
    border: 1px solid var(--primary-color);
    outline: none;
  }
}
