@import "~bootstrap/scss/bootstrap";

.cart-header {
  height: 60px;
  border: 1px solid var(--primary-color);
}

.cart-content {
  padding: 0;
}

.header-title,
.cart-icon {
  margin-left: 12px;
  font-size: 2rem;
  line-height: 60px;
  color: var(--primary-color);
  font-weight: bold;
}

.cart-header {
  background-color: var(--white);
  margin-bottom: 20px;
}

.header-row {
  height: 40px;

  .header-row,
  .product-row {
    text-align: center;
  }

  .header-checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  .header-col {
    height: 40px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
  }

  .header-col:nth-child(2) {
    text-align: left;
    padding: 0 12px;
  }
}

.product-col {
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

.product-checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.product-col:nth-child(2) {
  text-align: left;
}

.product-col:nth-child(4),
.product-col:nth-child(6) {
  font-weight: 600;
  color: var(--price-color);
}

.product-col:nth-child(7) {
  font-size: 2rem;
  color: var(--price-color);
  cursor: pointer;
}

.product-img {
  height: 80px;
  width: 80px;
  vertical-align: middle;
}

.decrease,
.increase {
  width: 32px;
  height: 32px;
  font-size: 1.4rem;
  color: var(--text-black-color);
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 0;

  &:hover {
    background-color: var(--primary-color-background);
    border: 1px solid var(--primary-color);
    color: var(--text-black-color);
    outline: none;
  }
}
.decrease {
  margin-left: 4px;
}

.quantity-input {
  width: 40px;
  height: 32px;
  padding: 0;
  font-size: 1.4rem;
  color: var(--text-black-color);
  background-color: var(--white);
  border: none;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-radius: 0;
  text-align: center;
  vertical-align: middle;

  &:focus {
    border: 1px solid var(--primary-color);
    outline: none;
  }
}

.cart-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  margin-top: 20px;
  padding: 0;
  border: 1px solid var(--primary-color);
  background-color: var(--white);
  vertical-align: middle;
}

.footer-checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.footer-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 18px;

  .select-all {
    margin-left: 22px;
    font-size: 1.6rem;
    color: var(--text-title-color);
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
  }

  .delete-all {
    height: 40px;
    width: 120px;
    margin-left: 22px;
    font-size: 1.6rem;
    color: var(--price-color);
    background-color: rgba(214, 51, 1, 0.2);
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 0;
    outline: none;
    border: 1px solid var(--price-color);

    &:hover {
      color: var(--error-message-color);
    }
  }
}

.footer-right {
  padding: 0 18px;
  text-align: right;

  .total-price {
    font-size: 1.6rem;
    color: var(--text-title-color);
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
  }

  .total-amount {
    width: 240px;
    margin: 0 22px;
    font-size: 2.4rem;
    color: var(--price-color);
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
  }

  .checkout {
    height: 40px;
    width: 120px;
    font-size: 1.6rem;
    color: var(--text-black-color);
    background-color: var(--primary-color);
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 0;
    outline: none;

    &:hover {
      background-color: var(--primary-color-hover);
      border: 1px solid var(--primary-color);
    }
  }
}
