@import "~bootstrap/scss/bootstrap";

.types {
  background-color: var(--primary-background-color);
}

types-container {
  margin-top: 40px;
}

.header {
  color: var(--primary-color);
}

.type-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.type-icon {
  width: 100px; /* Điều chỉnh kích thước icon theo ý muốn */
  height: 100px; /* Điều chỉnh kích thước icon theo ý muốn */
}

.type-name {
  margin-top: 10px;
  font-size: 1.2rem;
  text-align: center;
}
