@import "~bootstrap/scss/bootstrap";

.my-account {
  background-color: var(--white);
  padding: 20px 0;
}

.account-header {
  height: 62px;
  border-bottom: 1px solid var(--border-color);
}

.account-content {
  padding: 20px 8px;
}

.info-header {
  height: 40px;
  border-bottom: 1px solid var(--border-color);

  .info-title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 40px;
    margin-right: 8px;
  }
}

.info-content {
  padding: 40px;

  .form-group {
    height: 40px;
    margin-bottom: 20px;

    .form-label {
      font-weight: 400;
      line-height: 40px;
      margin: 0;
    }

    .input-container {
      position: relative;
    }

    .clear-input {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.6rem;
      right: 72px;
      color: var(--text-color);
      line-height: 40px;
    }

    .info-input {
      width: 400px;
      height: 40px;
      padding: 4px 10px;
      font-size: 1.6rem;
      line-height: 40;
      border: 1px solid var(--border-color);
      border-radius: 5px;
      &:focus {
        color: var(--text-hover-color);
        border-color: var(--primary-color);
        outline: 0;
        box-shadow: var(--primary-box-shadow);
      }
    }

    // Styles for read-only inputs
    input[readonly] {
      background-color: #f1f1f1;
      cursor: not-allowed;
    }
  }
}

.photo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;

  .photo-img {
    height: 160px;
    width: 160px;
    border-radius: 50%;
  }

  .change-avatar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6rem;
    right: 72px;
    color: var(--text-color);
    border-radius: 50%;
  }
}
