@import "~bootstrap/scss/bootstrap";

.my-account {
  background-color: var(--white);
  padding: 20px 0;
}

.account-header {
  height: 62px;
  border-bottom: 1px solid var(--border-color);
}

.account-content {
  padding: 20px 8px;
}

.info-header {
  height: 40px;
  border-bottom: 1px solid var(--border-color);

  .info-title {
    font-weight: 600;
    line-height: 40px;
  }
}
