@import "~bootstrap/scss/bootstrap";

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  @include flex-between;
  height: 70px;
  border-bottom: var(--second-border);
  background-color: var(--white);
  padding: 0 30px;
}
