@import "~bootstrap/scss/bootstrap";

.product {
  padding: 15px;
  background-color: var(--white);
}

.img-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.img-selected {
  border: 1.5px solid var(--primary-color);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.02) rotateY(180deg);
  }
}

.img-list__item {
  cursor: pointer;
  border: 1px solid var(--primary-color);
}
