@import "~bootstrap/scss/bootstrap";

.suggestions-container {
  --border-2px: 2px solid var(--primary-color);

  padding: 0;
  margin: 20px 0;

  .suggestion-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-background-color);
    height: 60px;
    padding: 0;
    margin-bottom: 10px;
    color: var(--primary-color);
    border-bottom: 4px solid var(--primary-color);

    .suggestion-title {
      margin: 0;
    }
  }

  .product-item {
    margin-bottom: 20px;
    transition: all 0.3s ease;
    overflow: hidden;
    &:hover {
      transform: scale(1.05);
      border: var(--primary-border);
    }

    .product-link {
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }

    .product-img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1) rotateY(180deg);
      }
    }

    .product-info {
      padding: 10px 8px;

      .product-name {
        font-size: 1.8rem;
        margin-bottom: 8px;
      }

      .product-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
      }
      .product-price {
        font-size: 1.6rem;
        color: var(--price-color);
        margin: 0;
      }

      .product-sold {
        font-size: 1.4rem;
        color: var(--text-color);
        margin: 0;
      }
    }
  }

  .more-button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 120px;
    height: 40px;
    font-size: 1.6rem;
    background-color: var(--white);
    color: var(--primary-color);
    border: var(--border-2px);

    &:hover {
      background-color: var(--primary-color);
      color: var(--white);
      //border-color: 2px solid var(--primary-color);
    }
  }
}
