@import "~bootstrap/scss/bootstrap";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-search {
  @include flex-center;
  width: var(--search-width);
  height: 46px;
  margin-top: 12px;
  border-radius: 46px;
  border: var(--second-border);
  transition: border-color 0.3s, all 0.3s ease;

  &:focus-within,
  &:hover {
    border-color: var(--primary-color);

    .btn-search {
      background-color: var(--primary-color-hover);
      border-color: var(--primary-color-hover);
    }

    .search-input {
      color: var(--text-hover-color);
    }
  }

  .search-input {
    width: 88%;
    padding: 10px 16px;
    font-size: 1.4rem;
    color: var(--text-color);
    border-radius: 46px;
    border-color: transparent;

    &:focus {
      border-color: transparent;
    }
  }

  .btn-search {
    width: 12%;
    height: 38px;
    font-size: 1.6rem;
    margin-right: 4px;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 38px;

    &:hover {
      background-color: var(--primary-color-hover);
      border-color: var(--primary-color-hover);
    }
  }
}
