@import "~bootstrap/scss/bootstrap";

.header-container {
  height: 84px;
  background-color: var(--white);
  border-bottom: 2px solid var(--primary-color);

  .header-logo {
    padding-top: 9px;
  }
}
