@import "~bootstrap/scss/bootstrap";

.header-container {
  height: 98px;
  background-color: var(--white);
  border-bottom: 2px solid var(--primary-color);

  .header-logo {
    padding: 9px 0;
  }
}
