@import "~bootstrap/scss/bootstrap";

.contact {
  padding: 40px 0;

  .contact-header {
    margin-bottom: 40px;
    height: 60px;
    text-align: center;

    .header-title {
      font-weight: 700;
    }
  }

  .contact-content {
    padding: 12px;
    box-shadow: 0 0 10px 0.25rem rgba(0, 0, 0, 0.1);
    border-radius: 6px;

    .contact-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 20px 12px;
      border-radius: 6px;
      background-color: #ffc300;

      .info-content {
        margin: 48px 0;
      }
      .info-contact {
        padding: 0;
        margin: 4px 0;

        .info-text {
          margin-left: 8px;
        }
      }

      .info-social {
        padding: 0 7.5px;
        width: 100px;
        cursor: pointer;

        &:focus {
          background-color: var(--white);
          outline: none;
        }

        .social-icon {
          margin-right: 12px;
          color: var(--text-black-color);
          font-size: 2.4rem;
        }
      }
    }

    .contact-form {
      padding: 20px 12px;

      .form-field {
        margin-bottom: 12px;
        .form-label {
          font-size: 1.6rem;
          color: var(--text-title-color);
        }

        .form-input {
          height: 40px;
          font-size: 1.4rem;
          &:focus {
            color: var(--text-hover-color);
            border-color: var(--primary-color);
            outline: 0;
            box-shadow: var(--primary-box-shadow);
          }
        }
      }

      .btn-send {
        float: right;
        background-color: var(--primary-color);
        height: 40px;
        font-size: 1.6rem;
        color: var(--text-black-color);
        border: none;

        &:hover {
          background-color: var(--white);
          color: var(--text-black-color);
          border: var(--primary-border);
        }
      }
    }
  }
}
