@import "~bootstrap/scss/bootstrap";

.header-container {
  height: 84px;
  background-color: var(--white);
  border-bottom: 2px solid var(--primary-color);

  .header-logo {
    padding-top: 9px;
  }
}

.body-container {
  display: flex;
  justify-content: space-between; // Đảm bảo các phần tử con nằm ở hai bên cùng của container
  margin: 40px 220px 0; // margin: top right bottom left
}

.image-container,
.form-container {
  flex-basis: calc(
    50% - 25px
  ); // Đảm bảo các phần tử chiếm 50% chiều rộng của container và cách nhau 50px
}

.image-container {
  margin-right: 25px; // Khoảng cách 50px chia đều giữa hai phần tử
}
